

$define_body_color:#f4f4f4;

$define_color_white:#ffffff;

$define_color_bg_primary:#f4f4f4;




$define_base_a_color:#00ADB5;

$define_base_a_color_hover:#08D9D6;


$define_base_desc_color:#666;

$define_base_border_color:#eaeaea;


$define_title_bg_color:#A8D8EA;



$define_header_bg_color:#393E46;

$define_header_bg_color_active:#00ADB5;


$define_menu_bg_color_active:#3FC1C9;

$define_menu_font_color_active:#364F6B;


