@import 'define.scss';


.theme_layout_main{
    display: flex;
    flex-direction:column;
    
}


.theme_layout_main_header{
    background: $define_header_bg_color; 
    color:#fff;
    line-height: 48px;
    display: flex;
    .c_logo{
        flex:1;
    }
    .c_nav{
        flex: 7;
    }
    a:hover{
        color: #fff;
    }

    .active{
        background-color: $define_header_bg_color_active;
    }
}

.theme_layout_center{
    flex: 1;
}