@import 'define.scss';


.theme_page_big_list{

    display: flex;

    .c_left{
        width: 20%;
        margin-top: 50px;
        padding: 20px;
        
        
        ul{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            li{
                line-height: 30px;
                a{
                    background-color:$define_color_bg_primary;
                    display: block;
                    color: #333333;
                }

                .active{
                    background-color: $define_menu_bg_color_active;
                    color: $define_menu_font_color_active;
                }
            }
        }
    }

    .c_center{
        padding:20px;
        flex: 1;
         
    }


    .c_name{
        flex: 2;
    }


    

}




.theme_page_common_info{

    display: flex;
    .c_left{
        flex: 6;
        padding: 20px;
    }
    .c_right{
        flex: 4;
        padding: 20px;
        
    }
    .c_field{
        width: 100%;
    }

    .c_title{

        
        background-color: $define_title_bg_color;
        line-height: 40px;
        padding-left: 10px;
        margin-top: 20px;
    }
    .c_table{
        border-left:solid 1px  $define_base_border_color;
        border-right:solid 1px  $define_base_border_color;

        
        
    }

    .c_result{
        width: 100%;
        margin-top: 30px;
        border: solid 1px $define_header_bg_color;
    }

    .c_desc{
        line-height: 20px;
        padding: 10px;
        font-size: 12px;
        color: $define_base_desc_color;
    }


    .c_tab{
        padding-top: 20px;
    }
}