<div class="theme_layout_center">
  <div class="theme_page_big_list d-flex">

    <div class="c_left">

      <ul class="list-group">
        <li>
          <a mat-button [routerLink]="'../../list/list'" routerLinkActive="active">全部接口</a>
        </li>
        <li *ngFor="let item of propDataNav;let i=index;">
          <a mat-button [routerLink]="'../../list/'+item.code" routerLinkActive="active">{{item.apiName}}</a>
        </li>
      </ul>

    </div>
    <div class="c_center">
      <div>
        <mat-table #table [dataSource]="propDataSource">

          <ng-container matColumnDef="apiClass">
            <mat-header-cell *matHeaderCellDef class="c_name">API函数</mat-header-cell>
            <mat-cell *matCellDef="let element" class="c_name"> {{element.apiClass}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="apiName">
            <mat-header-cell *matHeaderCellDef> 接口名称 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.apiName}} </mat-cell>
          </ng-container>




          <ng-container matColumnDef="remarkInfo">
            <mat-header-cell *matHeaderCellDef> 备注信息 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.remarkInfo}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="propDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: propDisplayedColumns;"></mat-row>
        </mat-table>
      </div>


    </div>

  </div>

</div>
